/* Center the loader vertically and horizontally */

.loader-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    margin: auto;
    z-index: -2;
}

.loader img {
    width: 100px; /* Adjust the size of your logo */
    height: 100px; /* Adjust the size of your logo */
    animation: spin 2s linear infinite; /* Create the spinning animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
