.distribution-map {
  position: relative;
  width: 100%;
  height: 588.9px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  
}
.map {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.countries {
  display: flex;
  justify-content: flex-start;
  max-height: 100%;
  overflow-y: auto;
  margin: 20px;
  
}
.countries ul {
  list-style: none;
  text-align: left;
}
.countries ul li {
  cursor: pointer;
}
.hover {
  fill: #046635; /* Change the fill color as needed */
}

@media (min-width: 320px) and (max-width: 1200px) {
  .distribution-map {
    flex-direction: column-reverse;
  }
  .countries ul {
    display: flex;
    flex-wrap: wrap;
  line-height: 20px;
  }
  .countries ul li {
    padding: 0 5px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  /* .countries ul {
    max-height: clamp(60%, 80%, 80%);
  } */
}
