
/* Default styles for the video */
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
}

.videoo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .video-container {
    margin-top: 13%;
     /* 4:3 aspect ratio (3 / 4 * 100%) */
  }
}

.grow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, transparent);
}
