/* .custom-shape-divider-bottom-1693392432 .shape-fill {
    fill: #FFFFFF;
}

 */
 svg {
    filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.6));
    position: relative;
    height: 150px;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1296 200" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink"><path fill="rgba(0, 0, 0, 1)" d="M 0 0 L 659 110 L 659 0 L 0 0 Z" strokeWidth="0"></path> <path fill="rgba(0, 0, 0, 1)" d="M 658 110 L 1296 200 L 1296 0 L 658 0 Z" stroke-width="0"></path> </svg>');
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
  }