.footer_section {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
  /* background: rgba(20, 24, 32, 0.9); */
  /* background-color: black; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233C3C3C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */

  z-index: 1;
  backdrop-filter: blur(0 rem);
}
.creator_link {
  all: unset;
  cursor: pointer;
}
.footer {
  color: aliceblue;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 60px 90px 20px 90px;
}
.footer_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_intro h1 {
  font-size: 2.5rem;
  /* font-family: "Rowdies", cursive; */
  font-family: SansationBold;
  margin: 0.5 rem;
  white-space: nowrap;
}

.footer_intro p {
  letter-spacing: 0.1rem;
}

.footer_image {
  width: 250px;
}
.footer_links_section {
  display: flex;
}
.footer_links {
  margin: 20px;
  color: #046635;
}
.footer_link {
  font-size: 1rem;
  color: #046635;
  text-decoration: none;
  transition: all 0.3s ease-in;
  z-index: 33333;
}
.footer_link:hover,
.footer_location:hover {
  color: #ffffff;
}

.footer_links_section ul {
  list-style-type:none;
}

.footer_links_name {
  font-size: 1.5rem;
  /* font-family: "Rowdies", cursive; */
  font-family: SansationBold;

  font-weight: 300;
}
.footer_locateus {
  font-size: 1.4rem;
  font-family: SansationBold;
  font-weight: 300;
}
.footer_address {
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: column;
}
.footer_locate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_location_pin {
  width: 30px;
}
.footer_location {
  color: #046635;;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer_social_links {
  margin: 10px;
}
.footer_social_img {
  transition: all 0.3s ease;
  border-radius: 12px;
}
.footer_social_img:hover {
  transform: scale(1.2);
  /* box-shadow: 0px 0px 2px 4px #0ff; */
}
.footer_copyrights {
  text-align: center;
  width: 100%;
}

.footer_copyrights p {
  color: aliceblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.footer_ruler {
  width: 90%;
  margin: auto;
  height: 2px;
  background-color: aliceblue;
}
.footer_copyright {
  font-family: "Rowdies", cursive;
}

@media (max-width: 768px) {
  .footer_section {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_image {
    text-align: center;
    padding-bottom: 30px;
    width: 150px;
  }
  .footer_intro h1 {
    padding-bottom: 10px;
  }

  .footer_intro p {
    padding-bottom: 10px;
  text-align: center;

  }
  .footer_social {
    flex-direction: row;
  }
  .footer_address {
    align-items: center;
  }
  .footer_location {
    text-align: center;
    white-space: nowrap;
    padding: 20px;
  }
  .footer_links_name {
    font-size: 1.1rem;
    font-weight: 0;
  }
}
