@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@200&family=Roboto:wght@500&family=Rowdies&display=swap");

.achievements_contents {
  width: 80%;
}
.achievements_section {
  background-color: #000;
  z-index: 1;
  position: relative;
  margin-top: -10rem;
}
.achievements_header {
  padding-top: 10.4rem;
  text-align: center;
}
.achievements_headline_div {
  margin-top: 2rem;
}
.achievements_thought {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-size: 1rem;
  padding-top: 40px;
  color: #046635;
  letter-spacing: 0.5em;
}
.achievements_heading {
  display: flex;
  margin: auto;
  justify-content: center;
}

.achievements_line_1,
.achievements_line_2 {
  height: 3px;
  width: 29%;
  color: white;
  /* z-index: 30000; */
  margin: auto;
  background-color: azure;
  margin-left: 0;
}

.achievements_line_1 {
  margin-right: 0%;
  margin-left: auto;
}

.achievements_line_2 {
  margin-left: 0;
}

.achievements_title {
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
  padding: 20px;
  white-space: nowrap;
  font-family: SansationBold;
}


.achievement_container {
  padding: 30px 60px;
  margin-right: 0;
  position: relative;
  background: inherit;
  width: 100%;
  
}
/* .achievement_container.left {
  left: -10%;
} */
.achievement_container.right {
  left: 0%;
}

/* .achievement_container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 54px;
  right: 40px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent #046635 transparent transparent;
} */
/* .achievement_container::after {
  content: "";
  background: url("../../assets/logo/logo-ego-white-2.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  right: -35px;
  z-index: 4;
  border: 4px solid;
  border-radius: 50%;
  background-color: #046635;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.achievement_container.right::before {
  left: 40px;
  border-color: transparent transparent transparent #046635;
} */
/* .achievement_container.right::after {
  left: -35px;
} */
.achievement_container .achievement_content_container {
  padding: 1rem;
  /* background: #17202e; */
  position: relative;
  display: flex;
  gap: 1rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 2px solid #17202e;
}
.achievements_achievement_content_containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.achievement_container .achievement_content_container h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #046635;
  font-family: draic;
}

.achievement_container .achievement_content_container p {
  margin: 10px;
  font-size: 15px;
  line-height: 22px; 
  color: #d8e3e7;
  /* font-weight: bold; */
  font-family: sansationLight;
}
.achievement_devicer {
  position: relative;
  left: 11px;
  width: 85%;
  height: 2px;
  background-color: white;
  margin-top: 10px;
}
.achievement_image_conainer {
  width: 500px; /*auto  */
  height: auto;
  background-size: cover;
  z-index: 100;
  position: relative;
}
.achievement_image_conainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, black);
  pointer-events: none;
}
.achievement_image {
  width: 100%;
  height: 210px;
  background-size: cover;
  opacity: 0.8;
  object-fit: cover;
  /* box-shadow: 0 0 10px 0.3px #fff; */
}
.achievements_achievement_content_containers {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
}
.achievement_buttons {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.title {
  font-size: 27px;
  text-decoration: underline;
  font-family: sansationLight;
  padding-left: 20px;
}

.offer_readmore_btn {
  margin-top: 10px;
  background-color: #046635;
  padding: 10px;
  color: white;
  font-size: 1.1rem;
  border: 2px solid #046635;
  width: 40%;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .achievements_timeline::after {
    left: 40px;
  }
  .achievements_section {
    margin-top: -8rem;
  }
  .achievements_contents {
    width: auto;
  }
  .achievement_container {
    width: 90%;
    padding: 21px 27px;
  }
  .achievement_container::after {
    left: -20px;
    width: 30px;
    height: 30px;
    background-size: 20px;
  }
  .achievement_container.right::after {
    left: -20px;
  }
  .achievement_container.left {
    left: 40px;
  }
  .achievement_container.right {
    left: 20px;
  }

  .achievement_container.left::before,
  .achievement_container.right::before {
    top: 45px;
    left: 22px;
    border: 5px solid;
    border-color: transparent transparent transparent #046635;
  }
  .achievement_container .achievement_content_container h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 0;
  }
  .title {
    font-size: 17px;
    padding-left: 2.3rem;
  }
  .achievement_container .achievement_content_container p {
    font-size: 0.7rem;
    line-height: 18px;
    
  }
  .achievement_image_conainer {
    display: none;
  }
  .achievement_image {
    height: 100px;
    border-radius: 8px;
  }
  .achievement_container .achievement_content_container {
    padding: 0.1rem 1rem;
  }
  .achievements_title {
    margin: 1rem;
    padding: 0;
    font-size: 1.7rem;
  }
  .achievements_thought {
    letter-spacing: 0.2rem;
    padding-top: 10px;
    font-size: 12px;
    margin: 0.4rem;
  }
  .achievement_devicer {
    position: relative;
    left: 11px;
    width: 80%;
    height: 1px;
    background-color: white;
    margin-top: -6px;
    margin-bottom: -8px;
  }
  .offer_readmore_btn {
    font-size: 10px;
    width: 100%;
    margin-bottom: 5px;
  }
}

